{% extends "student_register/layout.html" %}

    {% block title %}
        <title>All Jobs</title>
    {% endblock %}

    {% block css %}
        <style>
            #cssTable th,td
            {
                text-align: center;
                vertical-align: middle;

            }
        </style>
    {% endblock %}


    {% block body %}
        <div class="limiter">
            <div class="container-login100" style="background-image: url('/static/images/mmcoen.jpg');">
                <div class="wrap-login100" style="width:100%;">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div class="container-login100-form-btn">
                                </div>
                            </td>

                            {% if user.username == "tpo" %}
                            <td>
                                <div class="container-login100-form-btn">
                                    <a href="{% url 'new_job' %}" >
                                        <button class="login100-form-btn" >
                                            Add New Job
                                        </button>
                                    </a>
                                </div>
                            </td>
                            {% endif %}
                            <td>
                                <div class="container-login100-form-btn">
                                    {% if user.username != "tpo" %}
                                        <a href="{% url 'stu_logout' %}" >
                                    {% else %}
                                        <a href="{% url 'tpo_logout' %}" >
                                    {% endif %}
                                </div>
                                    <button class="login100-form-btn">
                                        LogOut
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </table>

                    <span class="login100-form-title p-b-34 p-t-27">
                            Jobs Posted by TPO
                    </span>

                    <table class="table table-striped">
                        <thead>
                            <th>Name of the Organization</th>
                            <th>Job Designation (Position)</th>
                            <th>Job Working Location</th>
                            <th>CTC Offered (in LPA)</th>
{#                            <th>Min. xth_percentage</th>#}
{#                            <th>Min. xiith_percentage</th>#}
                            <th>Minimum Engg. CGPA</th>
                            <th>Max. no of live kt</th>
                            <th>Max. no of year gap</th>
                            <th>Last Date to Apply</th>
                            {% if user.username == "tpo" %}
                                <th>Update</th>
                                <th>Delete</th>
                            {% else %}
                                <th>&nbsp;&nbsp;Registration Link&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            {% endif %}
                        </thead>
                        {% for job in jobs %}
{#                    {{ current_date }}{{ job.date_of_campus }}#}
                            <tr>
                                <td>{{ job.company }}</td>
                                <td>{{ job.job_pos }}</td>
                                <td>{{ job.job_loc }}</td>
                                <td>{{ job.ctc_offered }}</td>
                                <td>{{ job.engg_cgpa }}</td>
                                <td>{{ job.no_of_live_kt }}</td>
                                <td>{{ job.no_of_yg }}</td>
                                <td>{{ job.date_of_campus }}</td>
{#                                <td>{{ job.reg_link }} </a></td>#}
                                {% if user.username == 'tpo' %}
                                    <td><a href="{% url 'update_job' job.id %}"><button class="btn btn-warning">Update</button></a></td>
                                    <td><a href="{% url 'delete_job' job.id %}"><button class="btn btn-danger">Delete</button></a></td>
                                {% else %}
                                    <td>
{#                                    <span style=" background: springgreen; border-radius: 5px; padding: 0px 5px 0px 5px">#}
{#                                        <a href="//{{ job.reg_link }}/">#}
{#                                            <button>Apply Now!</button>#}
{#                                        </a>#}
{#                                    </span>#}
                                    <a href="//{{ job.reg_link }}/"><button class="btn btn-success">Apply Now</button></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>

                </div>
		    </div>
	    </div>



    {% endblock %}

