{% extends "student_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
{#        {{form|crispy}}#}

        {{ form.name | as_crispy_field }}
        {{ form.email | as_crispy_field }}
        <div class="row">
            <div class="col-md-4">
                {{ form.mobile | as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{ form.branch | as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.div | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.rn | as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{ form.sscm | as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.hscm| as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.fe_cgpa | as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{ form.se_cgpa | as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.te_cgpa| as_crispy_field }}
            </div>
        </div>
    </form>
{% endblock content %}