{% extends "student_register/layout.html" %}

{% block title %}
        <title>All Students</title>
{% endblock %}

{% block body %}

    <div class="limiter">

            <div class="container-login100" style="background-image: url('/static/images/mmcoen.jpg');">

                <div class="wrap-login100" style="width:100%;">
                    <table style="width: 190%">
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="container-login100-form-btn">
                                    <a href="{% url 'stu_logout' %}" >
                                        <button class="login100-form-btn">
                                            LogOut
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <span class="login100-form-title p-b-34 p-t-27">
                            All Students
                    </span>
                    <table class="table table-striped">
                        <thead>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Mobile No</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </thead>
                        {% for stu in user %}
                            <tr>
                                <td>{{ stu.id }}</td>
                                <td>{{ stu.fname }} {{ stu.lname }}</td>
                                <td>{{ stu.mono1 }}</td>
                                <td><a><button class="btn btn-warning">Update</a></button></td>
                                <td><a><button class="btn btn-danger">Delete</a></button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
		    </div>
	    </div>
{% endblock body %}