{% extends "student_register/layout.html" %}

    {% block title %}
        <title>All Students</title>
    {% endblock %}

    {% block css %}
        <style>
            #cssTable th,td
            {
                text-align: center;
                vertical-align: middle;

            }
        </style>
    {% endblock %}


    {% block body %}
        <div class="limiter">
            <div class="container-login100" style="background-image: url('/static/images/mmcoen.jpg');">
                <div class="wrap-login100" style="width:100%;">

                    <span class="login100-form-title p-b-34 p-t-27">
                            All Student Profiles
                    </span>

                    <table border="1px" width="100%" id="cssTable">
                        <thead align="center">
                            <th>PRN</th>
                            <th>Name</th>
                            <th>Branch</th>
                            <th>College Email</th>
                            <th>Mobile Number</th>
                        </thead>
                        {% for stu in students %}
                            <tr>
                                <td>{{ stu.prn }}</td>
                                <td>{{ stu.fname }} {{ stu.lname }}</td>
                                <td>{{ stu.branch }}</td>
                                <td>{{ stu.clg_email }}</td>
                                <td>{{ stu.mono1 }}</td>
                                <td>
                                    <div class="wrap-input100">
                                        <select name="status" class="input100">
                                            <option value="placed">Placed</option>
                                            <option value="not_placed">Not Placed</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
		    </div>
	    </div>


	<div id="dropDownSelect1"></div>
    {% endblock %}

